---
layout: page
title: Projects
permalink: /projects/
header: Projects
menu: main
weight: 10
---

{% assign count = 0 %}
{% assign align = "left" %}
{% for gallery in site.data.galleries.projects %}
{% if count == 0 %}<div class="row">{% endif %}
  <div class="half-width gallery-preview {{ align }}">
    <h1>{{ gallery.title }}</h1>
    <a href="/projects/{{ gallery.directory }}.html">
      <img alt="{{ gallery.title }}" src="/assets/img/projects/{% if gallery.picture_path %}{{ gallery.picture_path }}{% else %}{{ gallery.directory }}{% endif %}/{{ gallery.preview.thumbnail }}" />
    </a>
  </div>
{% if count == 1 %}</div>{% endif %}
{% assign count = count | plus: 1 %}
{% assign align = "right" %}
{% if count >= 2 %}
{% assign align = "left" %}
{% assign count = 0 %}
{% endif %}
{% endfor %}

{% if count != 1 %}
</div>
{% endif %}
