/**
 * Site header
 */
.site-header {
    border-top: 5px solid $brand-color;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    padding: 10px 10px 0;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}
.site-logo{
    float: left;
    width: 13%; 
}

#logo {
    margin-bottom: -20px;
    
    path {
    fill-opacity: 1;
    fill: $text-color;
  }
  }

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $text-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}
.post-subtitle{
    color: $brand-color;
}

//homepage

.hero{
    background-color: $brand-color;     
    height: 100vh; 
}
.work { position: absolute; margin-top: 100vh; width: 100%; z-index: 2; background-color: #fff; }


/**
 * Site footer
 */
.site-footer {
   background-color: $background-color-light;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
        float: right;
    font-size: 20px;
    @extend %clearfix;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.social-media-list li, .social-media-list li a{
    display: inline-block;
    color: inherit;
}

/**
 * Page content
 */
section {
    padding: $spacing-unit * 2.6;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title, .post-client {
    font-size: $base-font-size * 2.5;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
.post-work{
color: $brand-color; 
font-size:  $base-font-size;
letter-spacing: 2px;
text-transform: uppercase;;   
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: $base-font-size * 2;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
.post-content img{margin: 40px auto 0;}
.gallery-preview{margin-bottom: 50px;}
.gallery-preview img{margin: 0 auto;}

/**
 * Animations
*/

.drawn svg {
  max-width: 95%;
  max-height: 95%;
  position:relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  path {
    fill-opacity: 0;
    stroke: #fff;
    stroke-width: 1;
    stroke-dasharray: 870;
    stroke-dashoffset: 870;
    animation: draw 15s 1 linear;
    animation-fill-mode: forwards; // Stay on the last frame  
  }
}
.about .drawn svg {
  path {
    stroke: #000;
      stroke-width: 2;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/**
 * Themes
*/
.photo, .photo .page-link, .photo #logo path {@include dark-theme;}
.photo .site-footer {background-color: lighten(#000, 5%);}
.hoodline{border-top:5px solid #FE3B0B;}
.writing .row div{margin-top: 30px;}
.home .site-header, .home .site-footer {
    background-color: $brand-color;
    border-bottom: none;
    color: white;
}  
.home .site-nav {
   .page-link {
        color: white;
        
        }
    }
.home #logo{display: none;}


/**
 * Grid
*/
.ha-row {
       @include row();
}
.ha-1{
    @include span-columns(1);
}
.ha-2{
    @include span-columns(2);
}
.ha-3{
    @include span-columns(3);
}
.ha-4{
    @include span-columns(4);
}
.ha-5{
    @include span-columns(5);
}
.ha-6{
    @include span-columns(6);
}
.ha-7{
    @include span-columns(7);
}
.ha-8{
    @include span-columns(8);
}
.ha-9{
    @include span-columns(9);
}
.ha-10{
    @include span-columns(10);
}
.ha-11{
    @include span-columns(11);
}
.ha-12{
    @include span-columns(12);
}
.ha-right{
    @include omega();
}
@media screen and (max-width: $on-palm) {
    .ha-1, .ha-2,  .ha-3,  .ha-4,  .ha-5,  .ha-6,  .ha-7,  .ha-8,  .ha-9,  .ha-10,  .ha-11{
        @include span-columns(12);
    }
    section {
    padding: 10px;
}
}